.feedBack_main_div{
    flex: 4;
    width: 100%;
    height: 100%;
    background-color: rgb(218, 236, 231) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feedBack_center_div{
    width: 1000px;
    height: auto !important;
    min-height: 500px !important;
    max-height: auto !important;
    margin-top: 10px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sendMessageForm_div{
    width: 300px !important;
}