.profile_main_div{
    flex: 4;
    width: 100%;
    height: 100%;
    background-color: rgb(218, 236, 231) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_center_div{
    width: 800px;
    height: 510px;
    /* margin-top: 70px !important; */
    background-color: rgb(250, 250, 250);
    border-radius: 10px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.changepassword_main_div{
    /* background-color: hotpink; */
    width: 300px !important;
}
.profileColor{
    color: rgb(122, 219, 122) !important;
}
.profileColor:hover{
    background-color: rgb(122, 219, 122) !important;
    color: black !important;
}